<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/{{style}}">
    </head>
    <body>
        {{{body}}}
        <script src="js/{{script}}"></script>
    </body>
</html>