<h1>Hello</h1>
<div class="dropdown">
    <span class="dropdown-icon">Hello World</span>
    <div class="dropdown-content">
        <p>Stuff</p>
        <p>More Stuff</p>
        <p>Even More Stuff</p>
    </div>
</div>

<div>
    <p>After Stuff</p>
</div>