<h1>Dashboard</h1>
<h3>Add to Schedule</h3>
<div class="container">
    <div class="form-container">
        <div class="form-column">
            <span>Speaker</span>
            <input type="text" class="input-field">
        </div>
        <div class="form-column">
            <span>Time</span>
            <input type="text" class="input-field">
        </div>
        <div class="form-column">
            <span>Type</span>
            <input type="text" class="input-field">
        </div>
        <div class="form-column">
            <span>Subject</span>
            <input type="text" class="input-field">
        </div>
        <input type="submit" class="form-button">
    </div>
</div>