{{> header}}
<div class="container">
    <div class="login-container">
        <h1>Login</h1>
        <div class="register">
            <p>don't have an account?</p>
            <strong>register</strong>
        </div>
        <h3>email</h3>
        <input type="text" class="text-input" id="input-email">
        <h3>password</h3>
        <input type="password" class="text-input" id="input-password">
        <div>
            <button class="button" id="button-login">Login</button>
        </div>
    </div>

</div>