{{> header}}
<div class="container">
    <div class="border">
        {{#each contacts}}
            <div class="element">
                <span>{{this.name}}</span>
                <span>{{this.email}}</span>
                <span>{{this.age}}</span>
            </div>
        {{/each}}
    </div>
</div>