{{> header}}
<div class="container">
    <div class="schedule-container">
        <div class="entry">
            <h2 class="entry-date">January 1st 2020</h2>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Mark Davis</h3>
                </div>
                <div class="entry-item">
                    <h3>10:00 am</h3>
                </div>
                <div class="entry-item">
                    <h3>1st Service</h3>
                </div>
                <div class="entry-item">
                    <h3>Subject</h3>
                </div>
            </div>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Peter Morah</h3>
                </div>
                <div class="entry-item">
                    <h3>11:30 am</h3>
                </div>
                <div class="entry-item">
                    <h3>Study</h3>
                </div>
                <div class="entry-item">
                </div>
            </div>
        </div>
        <div class="entry">
            <h2 class="entry-date">January 1st 2020</h2>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Mark Davis</h3>
                </div>
                <div class="entry-item">
                    <h3>10:00 am</h3>
                </div>
                <div class="entry-item">
                    <h3>1st Service</h3>
                </div>
                <div class="entry-item">
                    <h3>Subject</h3>
                </div>
            </div>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Peter Morah</h3>
                </div>
                <div class="entry-item">
                    <h3>11:30 am</h3>
                </div>
                <div class="entry-item">
                    <h3>Study</h3>
                </div>
                <div class="entry-item">
                </div>
            </div>
        </div>
        <div class="entry">
            <h2 class="entry-date">January 1st 2020</h2>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Mark Davis</h3>
                </div>
                <div class="entry-item">
                    <h3>10:00 am</h3>
                </div>
                <div class="entry-item">
                    <h3>1st Service</h3>
                </div>
                <div class="entry-item">
                    <h3>Subject</h3>
                </div>
            </div>
            <div class="entry-row">
                <div class="entry-item">
                    <h3>Peter Morah</h3>
                </div>
                <div class="entry-item">
                    <h3>11:30 am</h3>
                </div>
                <div class="entry-item">
                    <h3>Study</h3>
                </div>
                <div class="entry-item">
                </div>
            </div>
        </div>
    </div>
</div>