.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  width: 40%;
  height: 5vh;
}

.nav-container .nav a {
  text-decoration: none;
}

body {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container .border {
  border: 2px solid black;
  width: 80%;
}

.container .border .element {
  display: flex;
  justify-content: space-between;
  align-items: none;
  margin: 10px 10%;
}

.container .border p {
  font-size: 20px;
  padding: 20px;
}
